<a href="https://colab.research.google.com/github/bravealex1/Python_Intro_to_Machine-Learning/blob/main/HappinessData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
happy = pd.read_csv("https://raw.githubusercontent.com/Nittany-Data-Labs/ML_Workshop_Python/main/Data/2017.csv?token=GHSAT0AAAAAABYFLCOKBSCUDUH7USLDI6DSY3EK3TA")
leastDev = pd.read_csv("https://raw.githubusercontent.com/Nittany-Data-Labs/ML_Workshop_Python/main/Data/Least%20Developed%20Countries%20-%20UN.csv?token=GHSAT0AAAAAABYFLCOL4EDUZQBIHOTMNXTKY3EK4IQ", header=None)

In [3]:
country = []
for i in leastDev[0]:
  i = i.strip(" ")
  country.append(i)
country

['Afghanistan',
 'Angola',
 'Bangladesh',
 'Benin',
 'Bhutan',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Central African Republic',
 'Chad',
 'Comoros',
 'Democratic Republic of the Congo',
 'Djibouti',
 'Eritrea',
 'Ethiopia',
 'Gambia',
 'Guinea',
 'Guinea-Bissau',
 'Haiti',
 'Kiribati',
 'Lao People’s Democratic Republic',
 'Lesotho',
 'Liberia',
 'Madagascar',
 'Mauritania',
 'Myanmar',
 'Nepal',
 'Niger',
 'Rwanda',
 'São Tomé and Príncipe',
 'Senegal',
 'Sierra Leone',
 'Solomon Islands',
 'Somalia',
 'South Sudan',
 'Sudan',
 'Timor-Leste',
 'Togo',
 'Tuvalu',
 'Uganda',
 'Yemen',
 'Zambia',
 'Malawi',
 'Mali',
 'Mozambique',
 'United Republic of Tanzania']

In [4]:
happy.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [5]:
result = []
for i in happy['Country']:
  temp = i in country
  result.append(temp)

happy['Least.Developed'] = result

In [6]:
happy.to_csv('Happy2017.csv')